a{
    color:inherit;
    text-decoration: none;

    color:red;
}

h1{
    font-size:32px;
}

h2{}

h3{}

li{
    list-style-type: decimal;
}


#root{
    border:20px solid blue;
}


#root > header{ 
    border:2px solid black;
    background-color:#333;
    color:white;
}



main{ border:2px solid black; }

main .box{
    border:10px solid red;
    background-color:pink;
    width:50px;
    height:50px;


    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius: 50%;

    display:inline-block;
}



#root > footer{ 
    border:2px solid black;
    background-color:#333;
    color:white;
}


/*  *** Components *** */


/* Logo */
.logo{

    background-color:pink;
    font-size:24px;
    color:black;

}

.logo img{
    width:56px;
}

/* Carousel */
.carousel{
    height:400px;
    background-color:mediumseagreen;
}


/* *** @rules *** */


/* supports at rule */
@supports (display:flex){

    main .box{display:flex}

}
