body{
    background-color:#eee;
}

p{
    border:2px solid aqua;

    border-width:2px;
    border-style:solid;
    border-color:aqua;



    border-top-width:2px;
    border-top-style:solid;
    border-top-color:aqua;

    border-right-width:2px;
    border-right-style:solid;
    border-right-color:aqua;

    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:aqua;

    border-left-width:2px;
    border-left-style:solid;
    border-left-color:aqua;
    
}

h2{
    color:pink;
}